/* Змінні */

:root {
  --main-color: #212121;
  --second-color: #2196f3;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #000000;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);  
}

/* Контейнер */

.container {
  width: 1200px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Шрифти */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.header-nav-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  color: #000000;
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #757575;
}
a:hover {
  color: #2196f3; /* Синій колір при наведенні */
  transition: all 1s;
}
.hero-flex {
  text-align: center;
  width: 1600px;
  height: 598px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(129 / 44)  ;
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 34px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 33px;
  padding-right: 33px;
}
.hero-btn {
  height: 50px;
  width: 216px;
  margin-top: 30px;
  background-color: #2196f3; /* Голубий колір */
  border-radius: 4px; /* Заокруглені краї */
  color: white; /* Колір тексту */
  padding: 10px 20px; /* Відступи */
  border: none; /* Відсутність рамки */
  cursor: pointer; /* Зміна курсору при наведенні */
}
.hero-btn:hover {
  background-color: rgba(17, 77, 125, 1.00);
  transition: all 200ms;
}
.hero-button:active {
  background-color: #2196f3;
}

.hero-btn:is(:hover, :focus) {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.business {
  display: block;
  line-height: 34px;
}
.advantages-headline {
  font-weight: 700;
}
.examples-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}
.example-item-wrapp-text {
  font-weight: 700;
  font-size: 14;
  line-height: calc(16/14);
  color: #ffffff;
}
.team-headline-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}
.team-name {
  font-weight: 500;
  line-height: calc(19 / 14);
}
.team-text {
  line-height: calc(19 / 16);
}
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.footer-item-text {
  line-height: calc(21 / 14);
}

.header-contact-item {
  font-weight: 500;
  line-height: calc(16 / 14);
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
}
.portfolio-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
}
.portfolio-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: #000000;
}
.portfolio-text {
  line-height: calc(30 / 14);
  color: #757575;
}
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.footer-item {
  line-height: calc(21 / 14);
}
.hero-button {
  margin-top: 54px;
}
.advantages-list {
  margin-top: 94px;
}
.examples {
  margin-top: 94px;
}
.team {
  margin-top: 94px;
}
.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42/36);
}
.footer-title {
  font-weight: 700;
  color: #ffffff;
}


/* Секція "HEADER" */

.header-flex {
  display: flex;
  justify-content: space-between; /* Всі елементи в ряду, рівномірно розподіляючи простір між ними */
  align-items: center; 
  border-bottom: 2px solid gainsboro;
}
.header-navigation {
  display: flex; 
}
.header-contact-list {
  display: flex; 
}
.header-nav-item, .header-contact-item {
  margin-left: 15px; /* Зовнішній відступ між елементами */
}

.header-nav-item:is(:hover, :focus) {
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.header-nav-link:is(:hover, :focus) {
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}


.header-logo {
  margin-right: auto; 
}
.header-nav-list {
  display: flex;
  margin-top: 9px;
  margin-left: 94px;
  padding-right: px;
}
.header-nav-link {
  margin-right: 53px;
}
.header-logo {
  margin: auto;
}
.header {
  height: 80px;
}
.header-contact-list {
  margin-right: 50px;
}
.header-contact-link {
  margin-right: 52px;
}
.header-contact-item {
  padding: 15, 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-contact-item:is(:hover, :focus) .contact-item {
  fill: #2196f3;
  transition: all 1s;
}

.header-contact-item:is(:hover, :focus) {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.contact-item {
  fill: #757575;
}

.contact-icon {
  fill: #757575;
  transition: color var(--duration) var(--cubic);
}

.header-nav-link {
  position: relative;
  color: inherit;
  padding: 32px 0;
  letter-spacing: 0.02em;
  /* transition: color var(--fifth-color) var(--second-color); */

  transition: color var(--duration) var(--cubic);
}

.header-nav-link.current::after {
  content: ' ';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-nav-link::before {
  content: ' ';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;

  transform: scaleX(0);
  transition: transform var(--duration) var(--cubic);
}

.header-nav-link:is(:hover, :focus)::before {
  transform: scaleX(1);

  transition: transform var(--duration) var(--cubic);
}


/* Секція HERO */

.hero {
  width: 1600px;
  height: 598px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  background-image: url(../img/people.png);
  background-repeat: no-repeat;
}


/* Секція "ADVANTAGES" */

.advantages-list {
  display: flex;
}
.advantages-text {
  height: 98px;
  width: 270px;
  margin-right: 30px;
}
.advantages {
  height: 98px;
  line-height: 1.71;
}
.advantages-text {
  color: #757575;
}
.advantages-item-antenna::before {
  content: " ";
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
}
.advantages-item-clock::before {
  content: " ";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
}
.advantages-item-computer::before {
  content: " ";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../img/computer.svg);
  background-repeat: no-repeat;
}
.advantages-item-astronaut::before {
  content: " ";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../img/astronaut.svg);
  background-repeat: no-repeat;
}


/* Секція "EXAMPLES" */

.examples {
  text-align: center;
  margin-top: 250px;
}
.examples-list {
  display: flex;
  justify-content: center; /* Центрую картинки горизонтально */
  margin-top: 50px;
  position: relative;
}
.examples-item {
  margin-right: 30px; /* Відступ між картинками */
  position: relative;
}
.examples-img {
  margin-top: 50px;
  margin-right: 30px;
  width: 370px; 
  height: 294px; 
}
.examples-item-wrapp {
  display: flex;
  position: relative;
}
/* .position-element {
  position: absolute;
  bottom: 30px;
  left: 107px;
} */

.example-item-wrapp-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8); /* Синій колір з прозорістю 50% */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
  /* text-align: center; */
  /* align-items: center; */
}


/* Секція "TEAM" */

.team-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1600px;
  background-color: #F5F4FA;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px; /* Відступ до картинок */
}
.team-img {
  margin-bottom: 15px;
  height: 260px;
  width: 270px;
}
.team-text {
  margin-top: 10px;
  color: #757575;
  margin-bottom: 28px;
}
.team-examples {
  height: 428px;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.team-social-item {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  transition: background-color var(--duration) var(--cubic);
}

.team-social-item:is(:hover, :focus) {
  background-color: #2196f3;
  transition: all 1.5s;
}
.team-social-item:is(:hover, :focus) .team-social-icon {
  fill: #ffffff;
}
.team-social-icon {
  fill: #AFB1B8;
}
.team-social-icon {
  transition: fill var(--duration) var(--cubic);
}


/* Секція regular-customers */

.regular-customers {
  height: 372px;
  width: 1600px;
  margin: 0 auto;
}
.regular-customers-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
}
.regular-customers-list {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
}
.regular-customers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--duration) var(--cubic);
}
.regular-customers-icon {
  fill: #AFB1B8;
  transition: fill var(--duration) var(--cubic);
}
.regular-customers-item:is(:hover, :focus) .regular-customers-icon {
  fill: #2196f3;
  transition: all 1s;
}
.regular-customers-item:hover {
  border-color: #2196f3;
  transition: all 500ms;
}


/* Секція "FOOTER" */

.footer {
  width: 1600px;
  height: 252px;
  background-color: #2F303A;
  margin: auto;
}
.footer-flex {
  display: flex;
}
.footer-link {
  color: #2196f3;
}
.footer-studio {
  color: white;
}
.footer-item {
  margin-top: 20px;
}

.footer-item-text-two:is(:hover, :focus) {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.footer-item-text {
  color: #ffffff;
}
.footer-item-text-two {
  margin-top: 9px;
}
.footer-info {
  color: #757575;
}
.footer-flex {
  align-items: center;
}
.footer-social {
  display: flex;
}
.footer-adress {
  margin-right: 70px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer-social-item {
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 50px;
  margin-left: 10px;

  transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic);
}
.footer-social-item:is(:hover, :focus) {
  background-color: rgba(33, 150, 243, 1.00);
  border-radius: 50px;
  transform: scale(1.2);
}
.footer-social-item:is(:hover, :focus) .footer-social-icon {
  fill: #ffffff;
}
.footer-social-icon {
  fill: #ffffff;
}
.footer-title {
  margin-bottom: 10px;
}
.footer-social-wrapp {
  margin-bottom: 40px;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe-form {
  display: flex;
  align-items: end;
}

.footer-subscribe-label {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-label > span {
  margin-bottom: 20px;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color:#757575;
}
.subscribe-btn-wrapp {
  position: relative;
}
.footer-subscribe-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  text-align: left;
  background-color: #2196f3;
  color:#ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
}

.footer-subscribe-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.footer-subscribe-btn:hover {
  background-color: rgba(17, 77, 125, 1.00);
  transition: all 200ms;
}
.footer-subscribe-btn:active {
  background-color: #2196f3;
}

.footer-subscribe-btn:is(:hover, :focus) {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}



/* Секція "PORTFOLIO" */

.container-two {
  width: 1230px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio {
  display: flex;
  margin-top: 94px;
  flex-direction: column;
  align-items: center;
}
.portfolio-filter-list {
  display: flex;
  justify-content: center;
  padding: 0;
}
.portfolio-filter-item {
  margin-right: 8px;
}

.portfolio-filter-item:is(:hover, :focus) {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.portfolio-filter-button {
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  color: #000000;
  cursor: pointer;
  transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
}
.portfolio-filter-button:hover {
  color: white;
  background-color: #2196f3;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}



.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 30px;
}
.portfolio-item {
  width: 364px; 
  height: 404px; 
  margin-bottom: 60px; /* Відступ між картинками */
  border: 1px solid #F5F4FA; 
  border-radius: none; 
}
.portfolio-item:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition:  0.4s;
}

.portfolio-item:is(:hover, :focus) {
  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.portfolio-headline {
  margin-left: 23px;
  margin-top: 15px;
}
.portfolio-text {
  margin-left: 23px;
  margin-top: 5px;
}
.one {
  height: 38px;
  width: 73px;
  display: flex;
  justify-content: center; /* Текст по горизонталі посередині кнопки */
  align-items: center; /* Текст по вертикалі посередині кнопки */
}
.two {
  height: 38px; 
  width: 125px; 
  display: flex;
  justify-content: center; /* Текст по горизонталі посередині кнопки */
  align-items: center; /* Текст по вертикалі посередині кнопки */
}
.three {
  height: 38px;
  width: 112px;
  display: flex;
  justify-content: center; /* Текст по горизонталі посередині кнопки */
  align-items: center; /* Текст по вертикалі посередині кнопки */
}
.four {
  height: 38px;
  width: 103px;
  display: flex;
  justify-content: center; /* Текст по горизонталі посередині кнопки */
  align-items: center; /* Текст по вертикалі посередині кнопки */
}
.five {
  height: 38px;
  width: 130px;
  display: flex;
  justify-content: center; /*Текст по горизонталі посередині кнопки */
  align-items: center; /* Текст по вертикалі посередині кнопки */
}

.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform var(--duration) var(--cubic);

  background-color: rgba(33, 150, 243, 0.90);
  color: var(--fourth-color);
  font-size: 18px;
  line-height: calc(28/18);
}

.portfolio-item:is(:hover, :focus) .portfolio-img-text {
  transform: translateY(0%);
  transition: all 1s;
}

/* Доповнення до лінків */

.studio {
  color: #000000;
}
.header-logo {
  color: #2196f3;
}


/* Техніка грід */

.portfolio-item {
  flex-basis: calc((100% - 72px) / 3);
}


/* Модальне вікно */

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;

  transform: translate(-50%, -50%);
  
  transition: transform var(--duration) var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  margin-bottom: 14px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:is(:hover, :focus) > .modal-close-icon {
  fill: #2196f3;
}

.modal-close-icon {
  fill: #212121;
}

.form-input-icon {
  fill: #000000;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-form-label {
  display: flex;
  flex-direction: column;
}

.modal-form-label > span {
  margin-bottom: 4px;
  color: #757575;
  font-weight: 400;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:is(:hover, :focus),
.modal-form-input:is(:hover, :focus) + .form-input-icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.form-input-wrapp {
  position: relative;
}

.form-input-icon {
  position: absolute;
  left: 13px;
  top: 25%;
  width: 18px;
  height: 18px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.modal-form-textarea:is(:hover, :focus) {
  border-color: #2196f3;
}

.modal-form-label-checkbox {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
}

.modal-form-label-checkbox > span {
  color:#757575;
}

.modal-form-label-checkbox a {
  color: #2196f3;
}

.modal-form-checkbox {
  border: 1px solid #212121;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  color:#ffffff;
  background-color:#2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-form-btn:hover {
  background-color: rgba(17, 77, 125, 1.00);
  transition: all 200ms;
}
.modal-form-btn:active {
  background-color: #2196f3;
}

.modal-form-btn:is(:hover, :focus) {
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}